<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Pet Love</span>
        <span class="spacer"></span>
        <a mat-button routerLink="/home"><mat-icon>home</mat-icon> Home</a>
        <a mat-button routerLink="/services"><mat-icon>handshake</mat-icon> Services</a>
        <a mat-button routerLink="/products"><mat-icon>shopping_bag</mat-icon> Products</a>
        <a mat-button routerLink="/about"><mat-icon>info</mat-icon> About Us</a>
        <a mat-button routerLink="/contact"><mat-icon>phone</mat-icon> Contact</a>
        <a mat-button routerLink="/login"><mat-icon>person</mat-icon> Sign in/ Sign up</a>
    </mat-toolbar-row>
</mat-toolbar>
